{{ define "main" }}
<section class="home-about">
	<div class="avatar">
        {{ if isset .Site.Params "avatarurl" }}
        <img class={{ .Site.Params.AvatarSize | default "size-m" }} src='{{ .Site.Params.AvatarURL }}'>
        {{ end }}
	</div>
    <h1>{{ .Site.Title }}</h1>
    <h3>{{ .Site.Params.Description }}</h3>
</section>

<div class="flex-break"></div>

{{ if isset .Site.Params "socialicons" }}
<section class="social-icons">
    <ul class="social-icons-list">
        {{ range .Site.Params.SocialIcons }}
        <li class="social-icon">
            <a href="{{ .url }}">
                <img class="svg-inject" src="/icons/{{ .name }}.svg" />
            </a>
        </li>
        {{ end }}
    </ul>
</section>
<br/><hr style="border: 0; height: 1px; background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);">
<section>
    <div>
        <h2 style="text-align: center;">Latest Posts</h2>
        {{- range ( where site.RegularPages "Section" "posts" | last 3 ) }}
            <article class="post-title">
                <a href="{{ .RelPermalink }}" class="post-link">{{ .Title }}</a>
                <div class="flex-break"></div>
                <span class="post-date">{{ dateFormat "January 2, 2006" .Date }}</span>
                <br>
                <br>
            </article>
        {{- end}}
    </div>
</section>
{{ end }}

{{ if isset .Site.Params "showpostsonhomepage" }}

    <div class="home-posts list-posts">
        <h2>{{ .Site.Params.ShowPostsOnHomePage | humanize }} Posts</h2>

    {{ $posts := where .Site.Pages "Params.type" "post" }}

    {{ if eq .Site.Params.ShowPostsOnHomePage "popular" }}
        {{ range $posts.ByWeight | first 4 }}
            {{- partial "list-posts.html" . -}}
        {{ end }}
    {{ else if eq .Site.Params.ShowPostsOnHomePage "recent" }}
        {{ range $posts.ByDate.Reverse | first 4 }}
            {{- partial "list-posts.html" . -}}
        {{ end }}
    {{ end }}
    </div>

{{ end }}

{{ end }}
